canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

#myCanvas {
    width: 480px;
    height: 320px;
}

.toTop {
    display: block;
    width: 150px;
    margin: 10px auto;
}