#gamecanvas {
    /* position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; */
    
    display: block;
    margin: 0 auto;
}

.toTop {
    display: block;
    width: 150px;
    margin: 10px auto;
}